form {
  max-width: 400px;
  background-color: #cecece;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: .25rem;
}

input {
  display: block;
  margin-left: 1rem;
  margin-bottom: .5rem;
  width: calc(100% - 2rem);
  min-height: 25px;
}

input[type="submit"] {
  max-width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: #f7f7f7;
  background: #05668d;
  border: none;
  font-size: 1.15rem;
  font-weight: 700;
}

